﻿body {	 
	 background-color:#fff;
	 margin:0;
	 padding:0;	
	 font-family: arial, verdana;
	 
 }
 
 .contenedor{
	margin:0 auto;
	padding:0;
	width:900px;
	background-color:#fff;
 }
 
header{
	margin:0;
	padding:0;	
	
} 

#logo_imagen{
	display:inline-block;
	width:900px;
	
}


nav{
	margin:0;
	background-color:#0086b3;
	
}

nav ul{
	list-style:none;
	margin:0;
	padding:0;
	
}

nav ul li{
	display:inline-block;
	
}

nav ul li a{
	color:#ccf2ff;
	font-weight:bold;
	text-shadow: 1px 2px #002633;
	text-decoration:none;
	display:block;
	padding:10px;
	
}

nav ul li a:hover{
	background-color:#006080;
	
}

.cuerpo{
	width:900px;
	
}

.cuerpo p{
	text-align: justify;
	
}

#comentario{ 
	display:block;
	
	}

legend{
	font-size:16px;
	font-weight:bold;
	color:#004d66;
	background-color:#fff;
	
	
}

.cuerpo_p{
	display:inline-block;
	width:500px;
	

}

fieldset{
	border-radius:10px;
	
	
}

span{ 
	font-weight:bold;
	}
	
table{
	border-collapse:collapse;
	width: 100%;
	
}	

table th {
    background-color: #0086b3;
	color:#fff;
}

table tr:nth-child(even) {
    background-color: #fff;
}
 
table tr:nth-child(odd) {
    background-color: #ccebff;
}

table .c1 {
	font-size: 14px;
}

table .c2 {
	font-style: italic;
	font-size: 12px;
}
	
article{
	display:inline-block;
		
	}
	
aside{
	vertical-align:middle;
	float: left;
	width:380px;

	
	
}

.uno{
	
}

.dos{
	
}

.tres{
	
}

.cuatro{
	
}


form{
	width:280px;
	padding:5px;
}

#comentario{
	border: solid 1px #ccc;
	max-width:280px;
	min-width:280px;
	max-height:70px;
	min-height:70px;
}
#btn{
	width:280px;
	height:25px;
	background-color:#3385ff;
	font-weight:bold;
	font-size:16px;
	color:#fff;
	border-radius:8px;
	display:inline-block;
	padding: 2px 5px;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	
}

.bt2{
	border: solid 1px #ccc;
	width:190px;
	float: right;
	
	
}

#sexo{
	 color:#ccc;
	 
}

.bt3{
	border: solid 1px #ccc;
	width:50px;
	
	
	
}

.lb{
	width:150px;
	font-weight:bold;
	
}

.sex {
	font-weight:bold;
	
}

.pais{
	font-weight:bold;
	
}

.lb2{
	font-weight:bold;
	
}

.coment{
	font-weight:bold;
	
}


#btn:hover{
	background-color:#003d99;
}

#edad, #pais{
	
	border: solid 1px #ccc;
}

marquee{
	width:375px;
	
}
marque img{
	border:0;
}

footer{
	
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	background-color:#0086b3;
	width:900px;
	padding:0;
	text-align:center;
	font-size:14px;
	color:#ccf2ff;
	text-shadow: 1px 2px #006080;
	
	
}

footer p {
	

}